<section id="inner-headline">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<ul class="breadcrumb">
							<li><a href="/"><i class="fa fa-home"></i></a></li>
							<li class="active">404</li>
						</ul>
					</div>
				</div>
			</div>
		</section>



<section id="content">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="text-center">
							<h2 class="error">404</h2>
							<p class="lead">Page en construction</p>
						</div>
					</div>
				</div>
			</div>
		</section>